.benefits {
    background: #293039;
    border-radius: 10px;
}

.benefits-title {
    padding-bottom: 250px;
    margin: 0 auto;
    width: 70%;
    align-items: center;

    h3 {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: #FEFCF7;
        margin-bottom: 32px;
        padding-top: 100px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
    }
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: center;
    position: relative;
    bottom: 200px;
    margin: 0 auto;
}

.box {
    background: #0E8784;
    border-radius: 8px;
    width: 350px;
    height: 382px;
    padding: 72px 48px 48px;
    text-align: center;

    h4 {
        font-family: 'Fraunces', sans-serif;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #FEFCF7;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FEFCF7;
    }
}
.svg{
    width: 72px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    // justify-content: center;
    align-items: flex-end;   
}
@media only screen and (max-width: 850px) {
    .benefits-title {
        padding-bottom: 300px;

        h3 {
            font-weight: 900;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #FEFCF7;
        }

        p {
            font-size: 15px;
            line-height: 25px;
        }

    }
    .box-wrapper{
        bottom: 280px;
    }

    .box {
        display: flex;
        width: 573px;
        height: 180px;
        padding: 42px 48px 48px;
        text-align: center;

        .box-text {
            margin-left: 60px;

            h4 {
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                color: #FEFCF7;
                text-align: left;
                margin: 0;
            }

            p {
                font-weight: 400;
                text-align: left;
                font-size: 15px;
                line-height: 25px;
                color: #FEFCF7;
            }
        }
    }

}
@media only screen and (max-width: 640px) {
    .benefits-title {
        padding-bottom: 600px;

        h3 {
            font-size: 28px;
            line-height: 28px;
        }
    }
    .box-wrapper{
        bottom: 580px;
        flex-direction: column;
    }

    .box {
        display: block;
        width: 279px;
        height: 382px;
        padding: 72px 48px 48px;
        text-align: center;

        .box-text {
            margin-left: 0;

            h4 {
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                color: #FEFCF7;
                text-align: center;
                padding-top: 20px;
                margin: 0;
            }

            p {
                font-weight: 400;
                text-align: center;
                font-size: 15px;
                line-height: 25px;
                color: #FEFCF7;
            }
        }

}
}