.collection-img {
    padding-top: 200px;
    align-items: center;
    position: relative;
    img {
        position: absolute;
        top: 70px;
        width: 100%;
        z-index: -1;
    }
}

.collection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 188px;
}

.item {
    width: 255px;

    img {
        margin-bottom: 70px;
    }

    h2 {
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
        margin-bottom: 24px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }
}

@media only screen and (max-width: 1080px) {
    .collection {
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 850px) {
    .collection {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .collection-img {

        // position: relative;
        // top: -145px;
        // left: 100px;
        img {
            width: 100%;
            z-index: -1;
        }
    }

}
